
/**
 * SCSS file with specific rules for our website
 */

// create a separation from the navbar and the content
body .body-content {
	padding-top: 20px;
}

nav#search-bar {
	position: absolute;
	top: 0;
	width: 100%;
	margin-top: -50px;
	border-bottom-color: transparent;

	.form-group,
	.form-group input {
		width: 100%;
	}

	#search-input-bar {
		width: 300px;
	}
}

a#search-button-bar {
	margin-bottom: 20px;
}
