
/**
 * SCSS file with specific rules for our website
 */

// create a separation from the navbar and the content
body .body-content {
	padding-top: 20px;
}

#search-bar {
	width: 0px;
	overflow: hidden;

	form,
	form input {
		margin-left: 0px;
		margin-right: 0px;
		padding-right: 5px;
	}
}

#search-button a {
	padding-left: 5px;
}
